# HAProxy Configuration for PostgreSQL Patroni Cluster
global
    log stdout format raw local0
    maxconn 1000

defaults
    log     global
    mode    tcp
    timeout connect 5s
    timeout client  30m
    timeout server  30m
    retries 3
    default-server init-addr last,libc,none inter 2s fall 2 rise 2

# HAProxy Stats Dashboard (http://localhost:7000)
frontend stats
    mode http
    bind *:7000
    stats enable
    stats uri /
    stats refresh 5s

# Write Traffic (Port 5000) -> Dynamic Route to Active Primary via Patroni GET /primary
frontend postgres_write_front
    bind *:5000
    default_backend postgres_write_back

backend postgres_write_back
    mode tcp
    option httpchk GET /primary
    http-check expect status 200
    default-server inter 2s fall 2 rise 2 port 8008
    server postgres_node1 postgres_node1:5432 check
    server postgres_node2 postgres_node2:5432 check
    server postgres_node3 postgres_node3:5432 check
    server postgres_node4 postgres_node4:5432 check

# Read Traffic (Port 5001) -> Round-robin across Active Replicas via Patroni GET /replica
frontend postgres_read_front
    bind *:5001
    default_backend postgres_read_back

backend postgres_read_back
    mode tcp
    balance roundrobin
    option httpchk GET /replica
    http-check expect status 200
    default-server inter 2s fall 2 rise 2 port 8008
    server postgres_node1 postgres_node1:5432 check
    server postgres_node2 postgres_node2:5432 check
    server postgres_node3 postgres_node3:5432 check
    server postgres_node4 postgres_node4:5432 check

