global
    log stdout format raw local0
    maxconn 1000

defaults
    log     global
    mode    tcp
    option  tcplog
    timeout connect 5s
    timeout client  50s
    timeout server  50s

frontend mysql-frontend
    bind *:3306
    mode tcp
    default_backend proxysql-backend

backend proxysql-backend
    mode tcp
    balance roundrobin
    option tcp-check
    server proxysql1 proxysql:6033 check inter 2s fall 3 rise 2

frontend stats
    mode http
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 5s
