datadir="/var/lib/proxysql"

admin_variables=
{
    admin_credentials="admin:admin;radmin:radmin"
    mysql_ifaces="0.0.0.0:6032"
}

mysql_variables=
{
    mysql_ifaces="0.0.0.0:6033"
    monitor_username="root"
    monitor_password="rootpassword"
    monitor_history_max_duration=3600
}

mysql_servers =
(
    { hostgroup_id=10, hostname="mysql-master", port=3306, max_connections=200 },
    { hostgroup_id=20, hostname="mysql-replica1", port=3306, max_connections=200 },
    { hostgroup_id=20, hostname="mysql-replica2", port=3306, max_connections=200 },
    { hostgroup_id=20, hostname="mysql-replica3", port=3306, max_connections=200 }
)

mysql_replication_hostgroups =
(
    { writer_hostgroup=10, reader_hostgroup=20, check_type="read_only", comment="MySQL GTID topology" }
)

mysql_users:
(
    { username = "root", password = "rootpassword", default_hostgroup = 10, active = 1 }
)

mysql_query_rules:
(
    {
        rule_id=1
        active=1
        match_pattern="^SELECT .* FOR UPDATE"
        destination_hostgroup=10
        apply=1
    },
    {
        rule_id=2
        active=1
        match_pattern="^SELECT"
        destination_hostgroup=20
        apply=1
    }
)
