global
    log stdout format raw local0
    maxconn 4096

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

frontend http_front
    bind *:8080
    default_backend app_backend

backend app_backend
    balance roundrobin
    option httpchk GET /health
    http-check expect status 200
    
    # Active Primary DC Server
    server app_dc app-dc:1323 check inter 3s fall 2 rise 2
    
    # Backup Standby DRC Server (Used ONLY when app_dc fails 2 healthchecks)
    server app_drc app-drc:1323 check inter 3s fall 2 rise 2 backup

listen stats
    bind *:8404
    stats enable
    stats uri /
    stats refresh 5s
    stats auth admin:admin
